<html>
<head>
    <title>database</title>
    <style type="text/css">
   

        h1 {
            text-align: center;
            position: absolute;
            top: 30%;
            left: 46%;
            transform: translateX()translateY()
        }

        p {
            font-size: 30px;
            text-align: center;
            position: absolute;
            top: 35%;
            left: 26%;
            transform: translateX()translateY()
        }
    </style>
</head>

<body>


    <h1>Error!!!! </h1>
    <p>
        The primary key already exists. Please insert another primary key.<br />
        <input style="font-size:25px;" type="button" value="Go back!" onclick="history.back()">

    </p>


</body>
</html>
